@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-orange: #f49545;
  --color-brand-blue: #173158;
  --color-brand-green: #239557;
  --font-display: var(--font-barlow);
  --font-body: var(--font-nunito);
  --font-sans: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
}
